<footer>
	<div class="right-side">
		<a routerLink="/about">About</a>
		<a routerLink="/developer">Developer</a>
	</div>
	<div class="container">
		
	</div>
</footer>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/developer">Developer</a></li>
      
    </ul>
  </div>
</nav>