#authbtn{
    margin-left:1000px; 
}
#srchbtn{
    margin-left:500px;
    position: absolute;
}


card {
		padding: 10px;
		border-bottom: 2px solid #f3f3f3;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

	}

		div.card-image {
		margin-top: 2px;
			width: 60px;

			
		}
		img {
				border-radius: 5px;
			}
			div.action {
					color: #aab8c2;
					display: flex;
			}
			div.counter{
						margin-left: 5px;
					}

		div.card-content {
			margin-left: 15px;
			flex: 1;
		}
		div.card-header {
				margin-bottom: 5px;}
				div.reply:hover {
					color: #89C9FA;
				}
				div.card-footer {
				max-width: 200px;
				margin-top: 12px;
				display: flex;
				justify-content: space-between;}
				i.md-20{
					font-size: 20px;
				}

				div.action {
					color: #aab8c2;
					display: flex;}
					div.counter{
						margin-left: 5px;
					}
				span.name {
						color: black;
						font-size: 1.1em;
					}
					span.handle {
						color: grey;
						font-size: 0.95em;
					}

				div.retweet:hover {
					color: #19cf86;
				}

				div.like:hover {
					color: #e81c4f;
				}
			
		
	

